body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #437BBF;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #EAD254;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #CD4438;
    font-size: 40px;
    font-weight: bold;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 8px 20px;
    background-color: #CD4438;
    color: #fff;
    font-family: "Raleway", sans-serif;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #8b2a21;
  }
  
  .team {
    margin-bottom: 10px;
  }
  
  .team div {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
  }
  
  .team div:first-child {
    margin-right: 10px;
  }
  
  #currentPlayers li {
    margin-bottom: -15px;
    font-weight: bold;
    font-size: 20px;
  }